table td ,th {
    text-align: center
}
 table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 2px;
		min-width: 24px;
    }   
table.table td a.edit {
    color: #008cfd;
}
table.table td a.delete {
    color: #E34724;
}
  .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	 .add-new i {
		margin-right: 4px;
	}
.add-cta{
    display: flex; 
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}